:root {
    --primary-color: #BEDCFE; 
    --secondary-color: #1B7D59; 
    --accent-color: #DBB68F; 
    --text-color: #fdfdfd; 
    --background-color: #586994; 
    --header-font: 'Afacad Flux', sans-serif; 
    --body-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1200px; /* Limit the width of the page */
    margin: 0 auto; 
    padding: 20px; 
} 

header {
    max-width: 1000px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr, 2fr;
    gap: 15px;
}

header img {
    width: 100px;
    height: 100px;
    padding: 15px;
    justify-self: center;
}

nav {
    display: flex;
    flex: 1 1 100%;
    gap: 15px;
    justify-content: center;
    grid-column: 2;
}

a {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

h1, h2 {
    font-family: var(--header-font);
    color: var(--primary-color);
}
p {
    color: var(--text-color);
    line-height: 1.5; /* Improve readability */
}

.hero {
    position: relative; 
    overflow: hidden;
}

.hero-image {
    display: block; 
    width: 100%; 
    height: 400px; 
}

h1 {
    position: absolute; 
    top: 20px; 
    left: 35%; 
    color: var(--primary-color); 
    font-size: 3em; 
    
}

article {
    position: absolute; 
    background-color: #333333cc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; 
}

article img {
    float: right; 
    margin-left: 10px; 
    max-width: 100px; 
    height: auto; 
}

.history {
    text-align: center;
}

.grid-container {
    display: grid; 
    grid-template-columns: 2fr 1fr 2fr; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px; 
}

.left, .right {
    margin: 0; 
}

section {
    text-align: center;
    padding: 20px;
}

.adventure-gallery {
    display: flex;
    justify-content: center; 
    overflow-x: auto;
    gap: 20px;
}

figure {
    margin: 0;
    text-align: center;
}

figure img {
    max-width: 200px;
    height: 150px;
}

figcaption {
    margin-top: 10px; 
    font-weight: bold; 
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 15px;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a img {
    width: 24px;
    height: auto;
}