:root {
    --border: 1px solid #000;
    --background-color: #fff
}
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
}
h1 {
    color: steelblue;
    border-bottom: solid;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 2);
    padding: 1rem;
    background-color: var(--background-color);
    color: #1f1e1e;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}
header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}
.grid {
    display: grid;
    align-items: center;
}